# Discord
DISCORD_TOKEN=your_discord_token_here
OWNER_ID=your_discord_user_id

# Notion
NOTION_TOKEN=your_notion_token_here
DATABASE_INBOX_ID=your_inbox_db_id
DATABASE_ACTIONS_ID=your_actions_db_id
DATABASE_PROJECTS_ID=your_projects_db_id
DATABASE_SOMEDAY_ID=your_someday_db_id
DATABASE_REFERENCE_ID=your_reference_db_id
DATABASE_WAITING_ID=your_waiting_db_id

# Gemini
GEMINI_API_KEY=your_gemini_api_key

# Github Fine grained key only
GITHUB_API_KEY=your_github_api_key